extends layout

block head
	link(rel='stylesheet', href='/css/create.css')

block content
	div.page-header
		h1 Create Your Own Hunt

	input.title(type='text', placeholder='Hunt Name')
	h2.title
		span.title
	hr
	input.task(type='text', placeholder='Enter task')
	p.help Type the task and press enter
	form(method="post", action="/new")
		ol.list
		input.btn.btn-primary(type="submit", value='Start Game')

	script(src="/js/create.js")