extends layout-m

block head
	link(rel='stylesheet', href='/css/login.css')

block content
	form.form#lForm(action = "/login", method = "post")
		fieldset
			legend Phunt Login
			div.form-group
				label(for="gameid") Game ID
				input.form-control#gameid(type="text", name="gameid", value=gameid, required)
			div.form-group
				label(for="userid") Name
				input.form-control#userid(type="text", name="userid", required)
			button.btn.btn-default.submit(type='submit') Submit