extends layout

block content
	div.page-header
		h1 #{tid.charAt(0).toUpperCase() + tid.slice(1)}
	h3 Tasks in this Phunt:
	ol
		each task in tasks
			li=task
	div.btn-toolbar
		a.btn.btn-primary(href="/new?tid=" + tid) Start Game!
		a.btn.btn-primary(href="/") Go Back
