extends layout-m

block head
	script(src="/socket.io/socket.io.js")
	script(src="/js/socket.js")
	link(rel='stylesheet', href='/css/tasks.css')
	script.
		register(#{"'"+gameid+"'"}, #{"'"+userid+"'"});
		addMobileEvents();

block content
	//div#notif(onclick="$('#notif').children().remove()")
	div.row#notif(onclick="$('#notif').children().remove()")
		div.alert.
			Remember, this is about creativity not speed. Deadline is August 9th!
	div.row.taskRow
		div.col-lg-12
			h2 Your Phunt Tasks
	- for(var i = 0; i < tasks.length; i++) {
		div.row.taskRow
			div.col-lg-12
				a.taskA(href="/upload?taskid=" + i + "&userid=" + userid + "&gameid=" + gameid) 
					- if(done[i] === undefined){
						h3= tasks[i] + " "
					- } else {
						h3.done(style="text-decoration:line-through; color:gray")=tasks[i] + " "
					- }
				br
			-}