extends layout-m

block head
	link(rel='stylesheet', href='/css/upload.css')

block content
	div.row
		div.col-12
			h1 Upload Photo
			hr
	div.row
		div.col-12
			div#pix
				- if(link !== undefined){
					h3(class = "up") Your submission:
					br
					img#sub(src=link)
				- }
	div.row
		div.col-12
			div(id ="thing") 
				form(enctype="multipart/form-data", method="POST", action="/upload")
					input(name="gameid", value=gameid, hidden)
					input(name="userid", value=userid, hidden)
					input(name="taskid", value=taskid, hidden)
					input(id="lat", name="lat", hidden);
					input(id="lon", name="lon", hidden);

					div(id="share-bottom")
						input.btn.btn-primary.butt(id="upload", type="button", class="photo-button", onclick="document.getElementById('upload-field').click();", value='Choose Photo')
						
						div(id="upload-wrap")
							input.hidden(type="file", id="upload-field", name="image", hidden)
						input.btn.butt(type="submit", value="Upload", class = "submit-button")

	script.
		$("#upload-field").change(function(){
			console.log("change");
			//change upload button
			//$("#upload").css('background-color', 'green');
			$("#upload").addClass('btn-success');
		})
		var showPosition = function(position){
			console.log(position);
			$("#lat").val(position.coords.latitude);
			$("#lon").val(position.coords.longitude);
		}
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(showPosition);
		}