body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #99CC66;
}

a {
  color: #00B7FF;
}
h1{
	  text-align: center;
    font-weight: bolder;
	  font-size: 100px;
	  font-variant: small-caps;
	  letter-spacing: 1.8pt;
	  padding-top: 10px;
}
#bottom{
    width: 260px;
    height: 230px;
}
#pics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}
#p1, #p2, #p3, #p4, #p5, #p6{
  float:left;
  margin-left: 70px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 260px;
  height: 230px;
}
#top1, #top2, #top3, #top4, #top5, #top6{
  position: relative;
  visibility: hidden; 
  top: -234px;
  width: 260px;
  height: 230px;

}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

th {
	font-size: 20px;
	border: 2px solid black;
}

.placeholder {
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 5px;
}

#lForm{
  font-size: 75px;
  font-variant: small-caps;
  text-align: center;
}

.user_typed {
	font-size: 20px;
	width: 250px;
	margin-left: 175px;
	text-align: right;
}

ul {
	list-style-type: none;
}

input {
	background-color: rgb(230, 227, 177);
}

#input, #input2 {
	font-size: 20px;
}

button, input[type=submit] {
	color: black;
	background-color: rgb(192, 172, 95);
	border-color: rgb(216, 205, 126);
	-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	cursor:pointer;
}

.delete {
	font-size: 200px;
}

button:hover, input[type=submit]:hover {
	background-color: rgb(216, 181, 128);
}

#andre {
	text-align: center
}

.task {
	display:none !important;
}
.inp{
  width: 350px;
  font-size: 40px;
  height: 90px;  

}
.butt{
  width: 300px;
  height: 120px;
  font-size: 40px;

}
.err{
  font-size: 50px;
  text-align: center;
  font-style: italic;
  color: red;
}
#todo, a{
  font-size: 40px;
  text-align: center;
  color: #393FEF !important;
}

input[type=submit] {
	font-size: 20px;
}