body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #99CC66;
}

a {
  color: #00B7FF;
}
h1{
	  text-align: center;
	  font-size: 80px;
	  font-variant: small-caps;
	  letter-spacing: 1.8pt;
	  padding-top: 10px;
}
#bridge{
    width: 260px;
    height: 230px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin:20px;
}
#pics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("/images/back.jpg");

}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

th {
	font-size: 20px;
	border: 2px solid black;
}

.placeholder {
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 5px;
}


