
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/css/style.css"><script src="/js/jquery.js"></script></head>

<body>
	<h1>Disney</h1>
	<div class="shows">
		<br><br>
		<ol class="lists">
			<li>Character Breakfast</li>
			<li>Sing with a performance group</li>
			<li>Front of Magic Kingdom Castle</li>
			<li>Both Chip and Dale together</li>
			<li>After splashin' down Splash Mountain</li>
			<li>Selfie on Tea Party Tea Cups</li>
			<li>Hug a princess</li>
			<li>Haunted Mansion</li>
		</ol>
		<a href="/new?tid=disney">
			<button class="butt2">Start Game!</button>
		</a>
		<a href="/" class="starting">
			<button class="butt3">Go Back</button>
		</a>
	</div>
</body>

</html>