extends layout

block content
	h1 Scavenger Hunt

	span(style="color:red")=error
	br
	form(action = "/login", method = "post")
		label What's your game ID?  
		br
		input(type="text", required, name = "gameid")
		br 
		label What's your name?  
		br
		input(type="text", required, name = "userid")
		br
		input(type = "submit", value = "submit")
