extends layout

block content
	h1 Scavenger Hunt

	form(action = "/login", method = "post")
		label What's your game ID?  
		br
		input(type="text", required)
		br 
		label What's your name?  
		br
		input(type="text", required)
		br
		input(type = "submit", value = "submit")
