extends layout
block head
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")
  script(src="/js/leaderboard.js")
block content
  table
    thead
      tr
      th Tasks
      each player in g.players
        th #{player}
    tbody
      - var numOfPlayers = g.players.length;
      - var counter = 0;
      each task in g.tasks
        tr
          td This is task #{task}
          each player in g.players
            - var uniqueId = "" + task + "_" + player;	
            td(id=uniqueId)
              div(class="placeholder")