extends layout
block head
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")
  script(src="/js/leaderboard.js")
  script.
    register(#{"'" + gameid + "'"}, null);
    getInfo(#{"'" + gameid + "'"});
block content
  h2 Game id: #{gameid}
  div(id="progressBars")
  table(id="table")
    thead
      tr(id="headingRow")
        th Tasks
    tbody
      each task in g.tasks
        tr(class="taskRow")
          td #{task}
