extends layout
block head
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")
  script(src="/js/leaderboard.js")
block content
  div(id="progressBars")
  table(id="table")
    thead
      tr(id="headingRow")
        th Tasks
    tbody
      each task in g.tasks
        tr(class="taskRow")
          td #{task}
