extends layout

block content
  table
    thead
      - var players = ["Heidi", "Cara", "Jon", "Andre"]
      tr
      th Questions
      each player in players
        th #{player}
    tbody
      - var questions = ["q1", "q2", "q3", "q4", "q5", "q6", "q7", "q8"]
      - var numOfPlayers = players.length;
      each question in questions
        tr
          td #{question}
          - for(var i = 0; i < numOfPlayers; i++) {
            td helllllllllooooooooooooooooo theeeerrrreee
          - }
      progress