extends layout

block content
	h1 Scavenger Hunt

	- for(var i = 0; i < tasks.length; i++) {
		- if(done[i] === undefined){
			span=tasks[i] + " "
		- } else {
			span(style="text-decoration:line-through")=tasks[i] + " "
		- }
		a(href="/upload?taskid=" + i + "&userid=" + userid + "&gameid=" + gameid) FOUND IT! 
		br
	- }