extends layout

block content
	h1 Scavenger Hunt


	- var tasks2 = ['one', 'two', 'three'];

	each task in tasks
		span=task + " "
		a(href="/upload?taskid=" + tasks.indexOf(task) + "&userid=" + userid + "&gameid=" + gameid) FOUND IT! 
		br