extends layout

block content
	h1 Scavenger Hunt


	- var tasks2 = ['one', 'two', 'three'];
	- var gameid = '0';
	- var userid = 'p1'
	each task in tasks
		span=task + " "
		a(href="/uploads?taskid=" + tasks.indexOf(task) + "&userid=" + userid + "&gameid=" + gameid) FOUND IT! 
		br