extends layout

block content
	h1 Scavenger Hunt

	- if(link !== undefined){
		span Your submission:
		br
		img(src=link)
	- }

	form(enctype="multipart/form-data", method="POST", action="/upload")
		input(name="gameid", value=gameid, hidden)
		input(name="userid", value=userid, hidden)
		input(name="taskid", value=taskid, hidden)
		input(id="image", name="image", type="file")
		input(type="submit", value="submit")
